
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1"
    />
    <title>AR Sun Tracker</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>

  <body>

    <div id="container">

      <div id="vid_container">
        <video id="video" autoplay playsinline></video>
        <div id="video_overlay"></div>
      </div>
      
      <div id="gui_controls">
        <button
          id="toggleFullScreenButton"
          name="toggle FullScreen"
          type="button"
          aria-pressed="true"
        ></button>
      </div>
    
    </div>

    <script src="static/js/adapter.min.js"></script>
    <script src="static/js/screenfull.min.js"></script>
    <script src="static/js/howler.core.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>

</html>
